{% load static %}
<script src="{% static 'vendor/jquery/scripts/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery/scripts/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'vendor/popper/scripts/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap_v5/scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery/scripts/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'vendor/jquery/scripts/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/jquery/scripts/jquery.stellar.min.js' %}"></script>
<script src="{% static 'vendor/owl/scripts/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/jquery/scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap_v5/scripts/aos.js' %}"></script>
<script src="{% static 'vendor/jquery/scripts/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap_v5/scripts/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'vendor/jquery-timepicker/scripts/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'vendor/parallax-scrolling/scripts/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'vendor/google-map/scripts/google-map.js' %}"></script>
<script src="{% static 'libs/scripts/main.js' %}"></script>